<%-include("partials/headers.ejs")%>
<div class="container">
<div class="jumbotron">

  <li><a href="/">Home</a></li>
  <li><a href="total">See WorldWIde</a></li>

</div>
<div class="row">
    <form action="/" method="POSt" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="textarea1" name="search"  />
          
        </div>
        <button class="waves-effect waves-light btn">Search</button>
      </div>
    </form>
  </div>
<div>
<%if(typeof countryInfo === "undefined"){%>
  <p>HI THERE</p>
  <%}else{%>
    <div>
      <p>Confirmed - <%=countryInfo.confirmed.value%></p>
      <p>Deaths - <%=countryInfo.deaths.value%></p>
      <p>Recovered - <%=countryInfo.recovered.value%></p>
    </div>
    <%}%>
</div>

</div>
</div>
 <!-- <script src="/index.js" type="text/javascript"></script>

    -->
